htdocs="d:/MAMP/htdocs" #set path to your project root. Could be a symlink or something like that as well?
tld="local" # you could use dev, local, test or antything of your liking without the first dot.
DBuser="root" #mysql database user
DBpassword="root" #mysql database user password
theme="https://github.com/Levdbas/BasePlate.git";